<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard Page</title>
        <script>
            function displayQty(listData, checkId, qtyId) {
                var checkBox = document.getElementById(checkId);
                var qty = document.getElementById(qtyId);
                if (checkBox.checked == true) {
                    qty.style.display = 'block';
                    checkBox.value = listData + ',' + qty.value;
                } else {
                    qty.style.display = 'none';
                }
            }
        </script>

        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body
        class="bg-gradient-to-r from-gray-700 via-gray-900 to-black flex flex-col justify-center min-h-screen items-center p-10"
    >
        <main class="flex flex-col justify-center items-center">
            <nav>
                <form
                    method="post"
                    action="/user/img/update-profile"
                    enctype="multipart/form-data"
                >
                    <div class="navbar flex flex-col gap-y-2">
                        <img
                            src="/user/img/profile"
                            alt="Avatar"
                            class="avatar text-white w-16 h-16 object-cover rounded-full"
                        />

                        <label class="menu text-sky-300 text-lg"
                            >Hello {{.Cart.Name}}</label
                        >

                        <div class="flex flex-col gap-y-5">
                            <input
                                type="file"
                                name="file-avatar"
                                required
                                class="file-input file-input-bordered max-2-sm file-input-sm"
                            />
                            <button
                                type="submit"
                                class="btn btn-sm btn-outline btn-primary"
                            >
                                Update Profile
                            </button>
                        </div>
                    </div>
                </form>
            </nav>

            <div class="flex gap-x-12 mt-10 text-md">
                <section>
                    <h2 class="text-lg text-sky-300 mb-5">List Product</h2>
                    <form method="post" action="/cart/add">
                        {{range $val := .Product}}
                        <div class="flex justify-start items-center gap-x-2">
                            <input
                                type="checkbox"
                                class="checkbox checkbox-warning"
                                id="check-{{ .Id }}"
                                name="product"
                                onclick="displayQty('{{ .Id }},{{ .Name }},{{ .Price }}', 'check-{{ .Id }}', 'qty-{{ .Id }}')"
                            />
                            <label
                                >{{ .Id }}. {{ .Name }}: Rp. {{ .Price
                                }},-</label
                            >
                        </div>

                        <input
                            type="number"
                            style="display: none"
                            id="qty-{{ .Id }}"
                            value="1"
                            min="1"
                            max="100"
                            class="input input-bordered input-sm m-5"
                            onchange="displayQty('{{ .Id }},{{ .Name }},{{ .Price }}', 'check-{{ .Id }}', 'qty-{{ .Id }}')"
                        />
                        <br />
                        {{else}} Empty Product {{end}}
                        <button
                            class="mt-5 btn btn-outline btn-success btn-sm"
                            type="submit"
                        >
                            Add to Cart
                        </button>
                    </form>
                </section>
                <section>
                    <h2 class="text-lg text-sky-300 mb-5">My Cart</h2>

                    <ul class="list-decimal">
                        {{range $val := .Cart.Cart}}
                        <li>
                            {{ .Name }}
                            <ul class="list-disc list-inside">
                                <li>Price: Rp. {{ .Price }},-</li>
                                <li>Quantity: {{ .Quantity }}</li>
                                <li>Total: {{ .Total }}</li>
                            </ul>
                        </li>
                        {{else}} Empty Cart {{end}}
                    </ul>
                    <p class="text-accent font-semibold text-md">
                        Total Price Rp. {{.Cart.TotalPrice}},-
                    </p>
                </section>
            </div>
        </main>

        <footer class="mt-12">
            <form method="get" action="/user/logout">
                <button class="btn btn-outline btn-error">Logout</button>
            </form>
        </footer>
    </body>
</html>
